<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpSV5FT-j5DDwqVEjID6aegcuKKnIX-n0</string>
	<key>GCM_SENDER_ID</key>
	<string>962606227803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.TDL</string>
	<key>PROJECT_ID</key>
	<string>todolist-7f5e7</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-7f5e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962606227803:ios:5c7ef9be009642bf02fa7e</string>
</dict>
</plist>